# __pycache__
*__pycache__
.pytest_cache

# credentials for twitter developer account
credentials.py

# Jupyter Notebook
src/notebooks/.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py
