[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
pandas = "*"
import-ipynb = "*"
pytest = "*"
nose = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
